[Unit]
Description=ReX network and server self-healing service.

[Service]
type=simple
ExecStart=/opt/ReX/manage.py runserver

[Install]
WantedBy=multi-user.target